

{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            {% include "includes/alerts.html" %}
            <img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded">
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Results search</h3>
        </header><!-- sect-heading -->
        <div class="row">
            {% for score in scores %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="media/img_2/{{ score.image }}"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">{{ score.name }}</a>
                            <div class="price mt-1">{{ score.price }}$</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->
    </div><!-- container // -->
</section>

<!-- ========================= SECTION  END// ========================= -->
{% endblock %}
